* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}
body {
  background: black;
}

.logform-container {
  position: relative;
  max-width: 800px;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: flex;
  /* gap: 1.5rem; */
  justify-content: space-between;
  box-shadow: 10px 9px rgba(0, 0, 0, 0.35);
  border-radius: 12px;
  padding: 70px;
  background: #1c1c1c;
  margin-top: 5%;
}

.tony {
  position: relative;
  width: 32px;
}
.formcontainer {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
  right: 10%;
}

.formcontainer.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.logform-container .close {
  position: absolute;
  top: 10px;
  right: 5px;
  cursor: pointer;
  padding: 5px;
}
.loginHeader {
  color: #777777;
  font-size: 26px;
  padding: 10px 0;
}
.welcomeback {
  padding: 10px 0;
  color: #ccc;
}
.login {
  width: 100%;
  flex-direction: column;
  display: flex;
  column-gap: 10px;
  position: relative;
}

.login input {
  width: 100%;
  height: 40px;
  outline: none;
  background: #212121;
  border: none;
  margin: 10px 0;
  padding: 5px;
  border-radius: 6px;
  position: relative;
}

.forgotPassword {
  color: #777777;
  padding: 10px 0;
  font-size: 18px;
  cursor: pointer;
}
.forgotPassword:hover {
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}
.g-recaptcha {
  margin-bottom: 20px;
}
.submitForm {
  background: #6333a6 !important;
  box-shadow: 0 0 10px rgba(99, 51, 166, 0.3);
  align-items: left;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}
.submitForm:hover {
  background-color: #3d1c7b !important;
}
.notmember {
  color: #777777;
  text-align: right;
  padding: 10px;
  transition: color text-decoration 0.4s ease-in-out;
  text-decoration: none;
  font-style: italic;
}

.notmember:hover {
  color: #6333a6;
  text-decoration: underline;
}
.eyes {
  position: relative;
}
.login .eye {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  cursor: pointer;
}

.eye.slash {
  display: none;
}

.warning {
  color: orchid;
  font-style: italic;
  max-width: 300px;
  width: 100%;
}
