* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}
body {
  background: black;
}
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav {
  width: 100%;
  height: 60px;
  background: #1c1c1c;
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  padding: 20px;
}
nav ul li a {
  text-decoration: none;
}
nav ul {
  list-style: none;
}
.log-in {
  width: 50px;
  height: 30px;
  padding: 5px 10px;
  background-color: #6333a6;
  color: #fff;
}
.logo {
  width: 50px;
  border-radius: 50%;
  height: 50px;
}
.logo img {
  width: 50px;
  height: 50px;
}
.logform-container {
  position: relative;
  max-width: 800px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: none;
  transition: display 0.5s ease;
  /* gap: 1.5rem; */
  justify-content: space-between;
  box-shadow: 10px 9px rgba(0, 0, 0, 0.35);
  border-radius: 12px;
  padding: 70px;
  background: #1c1c1c;
  margin-top: 5%;
  animation: fade-in-top 0.5s ease-in-out forwards;
  align-self: center;
}

@keyframes fade-in-top {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.tony {
  position: relative;
  width: 32px;
}
.tony img:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}
.formcontainer {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
  right: 10%;
}

.formcontainer.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.logform-container .close {
  position: absolute;
  top: 10px;
  right: 5px;
  cursor: pointer;
  padding: 5px;
}
.loginHeader {
  color: #777777;
  font-size: 26px;
  padding: 10px 0;
}
.welcomeback {
  padding: 10px 0;
  color: #ccc;
}
.login {
  width: 100%;
  flex-direction: column;
  display: flex;
  column-gap: 10px;
  position: relative;
}

.login input {
  width: 100%;
  height: 40px;
  outline: none;
  background: #212121;
  border: none;
  margin: 10px 0;
  padding: 5px;
  border-radius: 6px;
  position: relative;
}

.forgotPassword {
  color: #777777;
  padding: 10px 0;
  font-size: 18px;
  cursor: pointer;
}
.forgotPassword:hover {
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}
.g-recaptcha {
  margin-bottom: 20px;
}
.submitForm {
  background: #6333a6 !important;
  box-shadow: 0 0 10px rgba(99, 51, 166, 0.3);
  align-items: left;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
}
.submitForm:hover {
  background-color: #3d1c7b !important;
}
.notmember {
  color: #777777;
  text-align: right;
  padding: 10px;
  transition: color text-decoration 0.4s ease-in-out;
  text-decoration: none;
  font-style: italic;
}

.notmember:hover {
  color: #6333a6;
  text-decoration: underline;
}
.eyes {
  position: relative;
}
.login .eye {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  cursor: pointer;
}

.eye.slash {
  display: none;
}

.warning {
  color: orchid;
  font-style: italic;
  max-width: 300px;
  width: 100%;
}

@media (max-width: 600px) {
  .logform-container {
    height: 500px;
    padding: 10px;
  }
  .tony {
    display: none;
  }
}

@media (max-width: 320px) {
  .formcontainer {
    right: 10px;
    left: 10px;
  }
}
.fas.fa-spinner.fa-spin.loader {
  width: 100%;
  height: 20px;
  justify-content: center;
  display: none;
  align-items: center;
  align-self: center;
}
.signUpHcaptcha {
  background-color: #1f1f1f; /* Dark background color */
  color: #ffffff; /* Light text color */
}

.hidden {
  opacity: 0;
  animation: fadeOutDown 0.5s ease-in-out forwards; /* Fade-out animation */
}
@keyframes fadeOutDown {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}
